{% set block = "row-expand" %}


<div class="{{ block }}{% if mods %} {{block}}__{{mods}}{% endif %}">
        <span class="row-expand__info">@@ -270, 160  +270, 161 @@</span>
        <span class="row-expand__below">Below 20 lines</span>
        <span class="row-expand__above">Above 20 lines</span>
</div>
