{
    "extends": "stylelint-config-sass-guidelines",
    "rules": {
        "indentation": 2,
        "number-leading-zero": null,
        "selector-class-pattern": null,
        "scss/at-import-partial-extension-blacklist": null,
        "max-nesting-depth": 4
    }
}