{% set tabs = [{active: true, text: "FILES"}, {active: false, text: "BRANCHES"}] %}

{% include 'parts/metaHead.twig' %}
<body class='page'>
    <div class="page__header">
        {% include '../blocks/header/header.twig' with { content: headerLogo } %}
    </div>

    <div class="page__content">
        <div class="page__path">
            arcadia
        </div>

        {% include '../blocks/repository-head/repository-head.twig'%}

        <div class="page__tabs">
            {% include '../blocks/tabs/tabs.twig' %}
            <input class="js-filter" type="search" name="filter" placeholder="Поиск"/>
        </div>
        <div class="page__folderList">
            {% include '../blocks/table/templates/folder-list.twig' %}
        </div>
        <div class="page__readme">
            {% include '../blocks/preview/templates/readme.twig' %}
        </div>

    </div>


    <div class="page__footer">
        {% include '../blocks/footer/footer.twig' %}
    </div>
</body></html>
